* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1. Auth */
.auth {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    color: white;
}

.auth__form {
    min-width: 50vw;
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.auth__body {
    width: 30vw;
    text-align: center;
}

.auth__btn {
    min-width: 20%;
}

.button__switch {
    margin-left: 10px;
}

/* 2. Navbar */
.navbar {
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}

/* 3. Posts */
.post-button {
    border: none !important;
}

.post-button:hover {
    opacity: 0.8;
}

/* 4. Floating add button */
.btn-floating {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    border: none !important;
}

/* 5. About */
.about__btn {
    min-width: 50%;
    background-color: #663dff;
    background-image: linear-gradient(
        319deg,
        #663dff 0%,
        #aa00ff 37%,
        #cc4499 100%
    );
    border-color: unset !important;
    padding: 10px !important;
    margin-top: 10px;
}

.about__btn:hover {
    opacity: 0.8;
}

.about__btn > span {
    font-size: 20px;
    letter-spacing: 4px;
}

/* 6. Mobile Responsive */
@media (max-width: 768px) {
    .auth__form {
        min-width: 90vw;
    }

    .auth__body {
        width: 100%;
        padding: 0 10px;
    }

    .auth__btn {
        width: 100%;
    }

    .navbar__logout-mobile {
        flex-direction: unset !important;
        justify-content: space-between !important;
    }
}

/* 7. Tablet Responsive */
@media (max-width: 1200px) {
    .navbar__logout-mobile {
        flex-direction: unset !important;
        justify-content: space-between !important;
    }
}
